@font-face {
    font-family: 'InterBold';
    src: url('../fonts/Inter-Bold.ttf');
}
@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}
a{
  text-decoration: none;
}


html{
    overflow-x: hidden;
}
body{
    
    
    background-color: white;
    font-family: 'Poppins';
}

/*BOOTSTRAP CLASS = A DIV QUE POSSUI ESSA CLASSE TEM UMA PRÉ DEFINICAO
  DO BOOTSTRAP DE QUANTAS COLUNAS O FORMULARIO DEVE OCUPAR*/

.container .row .bootstrap-class .registro-login{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
    font-family: 'Poppins';

}
.container .row .bootstrap-class .registro-login h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.container .row .bootstrap-class .registro-login a{
   
    text-decoration: none;
}

.container .row .bootstrap-class .registro-login h1:hover{
    color: hsl(270, 70%, 40%);
}
.container .row .bootstrap-class .registro-login .entrar{
    margin-top: 15px;
}
.container .row .bootstrap-class .registro-login .cadastro{
    border-bottom: 3px solid hsl(270, 70%, 40%);
    padding-bottom: 16px;
    width: 11.8rem;
    text-align: center;
    margin-top: 33px;
}

form .header-form .selecao-tipo-conta .artista-convidado-btns {
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    border: 2px solid #202024;
    border-radius: 25px;
    

  }
  form .header-form .selecao-tipo-conta{
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
   
  }
  form .header-form .selecao-tipo-conta .artista-convidado-btns button{ /*ESTILO DO BOTAO DE ARTISTA E VISITANTE*/
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
    color: #202024;
    font-weight: 500;
    font-size: 16px;
    height: 43px!important;
    border: 0;
    background: transparent;
    text-transform: none!important;
    font-weight: 600!important;
    width: 110px;
  }

  form .header-form .selecao-tipo-conta .artista-convidado-btns button:hover{
    color: white;
    background-color: #664187;
  }
  form .header-form .selecao-tipo-conta .artista-convidado-btns button:focus{
    background-color: #664187!important;
    color: white;
  }
  form .header-form .selecao-tipo-conta .artista-convidado-btns .div-artista-btn .btn-artista{
    border-top-left-radius: 25px!important;
    border-bottom-left-radius: 25px!important;
  }
  form .header-form .selecao-tipo-conta .artista-convidado-btns .div-visitante-btn  .btn-visitante{
    border-top-right-radius: 25px!important;
    border-bottom-right-radius: 25px!important;
  }

  

  .container .row .bootstrap-class .form-container  { /*SERVE PARA POR BORDER-RADIUS NO FORMULARIO*/
    border-radius: 20px!important;
}

.container .row .bootstrap-class .form-container{
    background: rgba(236, 235, 243, 0.94)!important;
    box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.25)!important;
    border: 1px solid #b2b2b6!important;
    border-radius: 20px!important;
    width: 30rem;
    height: 43rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .row .bootstrap-class .form-container .form-box form{
    width: 18rem;
}



.container .row .bootstrap-class .form-container .form-box form .span-input{  /*LABEL DE TODOS INPUTS*/
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins';
    line-height: 43px;
}




.container .row .bootstrap-class .form-container .form-box form .header-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.container .row .bootstrap-class .form-container .form-box form .header-form h5, h1{
  position: relative;
    top: 30px;
}
.container .row .bootstrap-class .form-container .form-box form .header-form h1{
  text-align: center;
  font-family: 'InterBold';

}

.container .row .bootstrap-class .form-container .form-box form .header-form .logo-marca-container{
  
  display: flex;
  justify-content: center;
  
}
.container .row .bootstrap-class .form-container .form-box form .header-form .logo-marca-container .logo-marca{
  position: relative;
    top: 30px;
    max-width: 100%;
    height: auto;
}



/*H5 ABAIXO DA LOGOMARCA*/
.container .row .bootstrap-class .form-container .form-box form .header-form .header-legenda {
    font-size: 1rem!important;
    font-weight: 600!important;
}

/*INPUTS*/

.container .row .bootstrap-class .form-container .form-box form input{ /*ESTILO DOS INPUTS COMUNS*/
  background-color: transparent;
  color:  #7C7C8A!important;
  border-radius: 10px!important;
  height: 48px!important;
  display: flex!important;
  flex-direction: row!important;
  align-items: center!important;
  border: 2px solid #664187;
  background-repeat: no-repeat;
  padding: 12px 16px!important;
  background-position-y: center;
  background-position-x: 15px;
  width: 100%;
  font-family: 'Poppins';
   font-size: 14px;
    
}

.container .row .bootstrap-class .form-container .form-box form select{ /*ESTILO DOS INPUTS DE SELECT*/
  background: transparent;
  color:  #7C7C8A;
  border-radius: 10px!important;
  border: 2px solid #664187;
  height: 48px!important;
  display: flex!important;
  flex-direction: row!important;
  align-items: center!important;
  padding: 12px 16px!important;
  width: 100%;
  
}
.container .row .bootstrap-class .form-container .form-box form input:focus{
  border: 2px solid #202024;
}
 
  form button{  /*BOTOES DE AVANÇAR, ANTERIOR E ENVIAR*/
    font-weight: 500!important;
    background: #664187;
    border-radius: 10px!important;
    font-size: 16px;
    height: 43px!important;
    color: #E1E1E6;
    width: 120px;
    border: 0;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
  }

  form button:hover{
    background: #7c49ac;
    color: #e2e2e7;
    
  }
 



/* Style the form */
#formVisitante {
  background-color: transparent;
  
  width: 70%;
  min-width: 300px;
  font-family: 'Poppins';
}

/* ---------------------- FORMULARIO DE ETAPAS ----------------------*/


/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #520892;
}


/* ---------------------- FORMULARIO DE ETAPAS ----------------------*/






/* ---------------------- TEXTO DE INFORMACAO SOBRE AS FOTOS ---------------------- */

.informacao b{
  cursor: pointer;
  transition: color 0.3s ease ;
  
}
.informacao p{
  font-weight: 500;
}

.informacao b:hover{
  color: #664187;
}

/* --------------------- MODAL ---------------------*/

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.342);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.modal {
  margin: 16rem 16rem 16rem 16rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: white;
  border-radius: 11px;
  display: none;
  flex-direction: column;
  overflow: hidden;
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media only screen and (max-width: 600px) {
  .modal {
    height: 50%;
    width: 100vw;

  }
}

.modal-header {
  background-color: rgba(0, 0, 0, 0.041);
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}
.modal-content {
  padding: 0.5rem 1rem;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
}



