.btn-perfil{
    background-color: #664187 !important;
    border-color: #664187 !important;
    border-radius: 15px;
}
.btn-excluir{
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    border-radius: 10px;
}
.form-control {
    background-color: transparent;
    color:  #7C7C8A!important;
    border-radius: 10px!important;
    height: 48px!important;
    display: flex!important;
    flex-direction: row!important;
    align-items: center!important;
    border: 2px solid #664187;
    background-repeat: no-repeat;
    padding: 12px 16px!important;
    background-position-y: center;
    background-position-x: 15px;
    width: 100%;
    font-family: 'Poppins';
     font-size: 14px;
  }
input :focus{
    box-shadow: none !important;
}
.modal-excluir{
    height: 200px;
}

.modal-perfil{
    height: 550px;
}
.form, .foto {
    display: inline-block;
    
}

.foto{
    margin-left: 4rem;
}
.editar-img{
    
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px #000000;
}
.editar-foto{
    margin-left: 2rem;
    color: #000000
}
.form {
    width: 24rem;
    margin-top: 2rem;
    margin-left: 2rem;
   
}
.modal-footer {
    border-top: transparent;

}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 1rem;
    margin-left: 16px;
    
}
